* { margin: 0; padding: 0; }

.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: ""; font-size: 0; line-height: 0; }

html, button, input, select, textarea { color: #222222; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio, canvas, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; overflow: auto; vertical-align: top; }

ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: yellow; color: black; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-arr { background: url('../img/icons-s80bbffbddb.png') 0 -1501px no-repeat; width: 21px; height: 12px; }

.i-ico1 { background: url('../img/icons-s80bbffbddb.png') 0 -1360px no-repeat; width: 40px; height: 36px; }

.i-ico2 { background: url('../img/icons-s80bbffbddb.png') 0 -953px no-repeat; width: 38px; height: 30px; }

.i-ico3 { background: url('../img/icons-s80bbffbddb.png') 0 -905px no-repeat; width: 40px; height: 38px; }

.i-ico4 { background: url('../img/icons-s80bbffbddb.png') 0 -1145px no-repeat; width: 37px; height: 28px; }

.i-ico5 { background: url('../img/icons-s80bbffbddb.png') 0 -993px no-repeat; width: 33px; height: 32px; }

.i-num1 { background: url('../img/icons-s80bbffbddb.png') 0 -1406px no-repeat; width: 61px; height: 60px; }

.i-num2 { background: url('../img/icons-s80bbffbddb.png') 0 -1253px no-repeat; width: 61px; height: 60px; }

.i-num3 { background: url('../img/icons-s80bbffbddb.png') 0 -1183px no-repeat; width: 61px; height: 60px; }

.i-service1 { background: url('../img/icons-s80bbffbddb.png') 0 -372px no-repeat; width: 77px; height: 77px; }

.i-service2 { background: url('../img/icons-s80bbffbddb.png') 0 -105px no-repeat; width: 75px; height: 69px; }

.i-service3 { background: url('../img/icons-s80bbffbddb.png') 0 -305px no-repeat; width: 57px; height: 57px; }

.i-service4 { background: url('../img/icons-s80bbffbddb.png') 0 -459px no-repeat; width: 60px; height: 65px; }

.i-service5 { background: url('../img/icons-s80bbffbddb.png') 0 -689px no-repeat; width: 70px; height: 52px; }

.i-service6 { background: url('../img/icons-s80bbffbddb.png') 0 -1083px no-repeat; width: 68px; height: 52px; }

.i-service7 { background: url('../img/icons-s80bbffbddb.png') 0 -622px no-repeat; width: 57px; height: 57px; }

.i-service8 { background: url('../img/icons-s80bbffbddb.png') 0 -751px no-repeat; width: 66px; height: 64px; }

.i-pallet { background: url('../img/icons-s80bbffbddb.png') 0 0 no-repeat; width: 106px; height: 54px; }

.i-pallet_m { background: url('../img/icons-s80bbffbddb.png') 0 -825px no-repeat; width: 58px; height: 29px; }

.i-saving { background: url('../img/icons-s80bbffbddb.png') 0 -534px no-repeat; width: 85px; height: 78px; }

.i-saving_m { background: url('../img/icons-s80bbffbddb.png') 0 -1035px no-repeat; width: 28px; height: 38px; }

.slider__left { background: url('../img/icons-s80bbffbddb.png') 0 -1523px no-repeat; width: 15px; height: 27px; }

.slider__right { background: url('../img/icons-s80bbffbddb.png') 0 -1323px no-repeat; width: 15px; height: 27px; }

::selection { background: #e95103; color: white; }

::-moz-selection { background: #e95103; color: white; }

html ::-moz-scrollbar { width: 6px; }
html ::-webkit-scrollbar { width: 6px; }
html ::scrollbar { width: 6px; }
html ::-moz-scrollbar-track { background: #bec3c3; }
html ::-webkit-scrollbar-track { background: #bec3c3; }
html ::scrollbar-track { background: #bec3c3; }
html ::-moz-scrollbar-thumb { border-radius: 3px; background: #919191; }
html ::-webkit-scrollbar-thumb { border-radius: 3px; background: #919191; }
html ::scrollbar-thumb { border-radius: 3px; background: #919191; }
html ::-moz-scrollbar-track-piece { background: #e1e1e1; }
html ::-webkit-scrollbar-track-piece { background: #e1e1e1; }
html ::scrollbar-track-piece { background: #e1e1e1; }

body { margin: 0; font-family: "Montserrat", sans-serif; font-weight: normal; line-height: 1.4; font-size: 14px; webkit-font-smoothing: antialiased; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

section { position: relative; }

.wrap { margin: 0 auto; }

.ui-loader { display: none; }

.header { width: 100%; height: 70px; line-height: 70px; background: white; position: fixed; top: 0; left: 0; z-index: 3; }
.header .header__in { padding: 0 5%; *zoom: 1; }
.header .header__in:before, .header .header__in:after { content: ""; display: table; }
.header .header__in:after { clear: both; }
@media only screen and (max-width: 900px) { .header .header__in { padding: 0 3%; } }
@media only screen and (max-width: 490px) { .header .header__in .logo { background: url('../img/icons-s80bbffbddb.png') 0 -864px no-repeat; width: 39px; height: 31px; } }

.header__right { overflow: hidden; *zoom: 1; }
.header__right:before, .header__right:after { content: ""; display: table; }
.header__right:after { clear: both; }
.header__right .lang { margin-right: 6%; float: right; *zoom: 1; }
.header__right .lang:before, .header__right .lang:after { content: ""; display: table; }
.header__right .lang:after { clear: both; }
@media only screen and (max-width: 900px) { .header__right .lang { margin-right: 3%; } }
.header__right .lang li { margin-right: 5px; float: left; }
.header__right .lang a { font-size: 12px; color: #9c9c9d; }
.header__right .lang a:hover { color: #fb6315; }
.header__right .lang a.is-active { color: #e95103; }
@media only screen and (max-width: 900px) { .header__right .lang a { font-size: 10px; } }

.nav { float: left; *zoom: 1; }
.nav:before, .nav:after { content: ""; display: table; }
.nav:after { clear: both; }
@media only screen and (max-width: 605px) { .nav { display: none; } }
.nav li { float: left; margin-right: 20px; }
@media only screen and (max-width: 800px) { .nav li { margin-right: 10px; } }
.nav .is-active a { color: #e95103; }
.nav a { color: #9c9c9d; font-size: 16px; }
.nav a:hover { color: #fb6315; }
@media only screen and (max-width: 800px) { .nav a { font-size: 14px; } }
@media only screen and (max-width: 650px) { .nav a { font-size: 12px; } }

.phone { float: right; font-size: 25px; color: black !important; }
@media only screen and (max-width: 900px) { .phone { font-size: 18px; } }
@media only screen and (max-width: 800px) { .phone { font-size: 16px; } }
@media only screen and (max-width: 320px) { .phone { font-size: 14px; } }

.logo { background: url('../img/icons-s80bbffbddb.png') 0 -64px no-repeat; width: 190px; height: 31px; margin-top: 20px; float: left; }

.footer { width: 100%; height: 70px; line-height: 70px; background: white; position: absolute; top: 0; z-index: 1666; }

.footer__in { padding: 0 5%; *zoom: 1; }
.footer__in:before, .footer__in:after { content: ""; display: table; }
.footer__in:after { clear: both; }
.footer__in .logo { margin-right: 35px; background: url('../img/icons-s80bbffbddb.png') 0 -864px no-repeat; width: 39px; height: 31px; }
@media only screen and (max-width: 900px) { .footer__in { padding: 0 3%; } }
@media only screen and (max-width: 800px) { .footer__in { margin-right: 15px; } }
@media only screen and (max-width: 490px) { .footer__in .logo-wrap { width: auto; } }

.footer__right { overflow: hidden; *zoom: 1; }
.footer__right:before, .footer__right:after { content: ""; display: table; }
.footer__right:after { clear: both; }

.footer_fixed { position: fixed; }

.pallets { background: #e95103; color: #d0ecf6; text-align: center; position: relative; min-height: 600px !important; }
@media only screen and (max-width: 800px) { .pallets { min-height: 550px !important; } }
@media only screen and (max-width: 430px) { .pallets { min-height: 350px !important; } }
.pallets .wrap { width: 80%; height: 100%; margin: 0% 10% 0%; text-align: center; }
.pallets .pallets__in { padding-top: 120px; position: relative; text-align: center; }
.pallets .pallets__in img { max-width: 100%; max-height: 100%; }
.pallets .h1 { font-weight: 100; font-size: 70px; position: absolute; top: 50%; margin-top: -52px; display: inline-block; color: white; }
@media only screen and (max-width: 900px) { .pallets .h1 { margin-top: -40px; font-size: 60px; line-height: 1.2; } }
@media only screen and (max-width: 600px) { .pallets .h1 { margin-top: -20px; font-size: 40px; } }
@media only screen and (max-width: 490px) { .pallets .h1 { margin-top: 10px; font-size: 28px; } }

.pallets__next { width: 180px; height: 50px; position: absolute; bottom: 30px; left: 50%; margin-left: -90px; font-size: 15px; color: white; }
@media only screen and (max-width: 675px) { .pallets__next { bottom: 15px; } }
.pallets__next .i-arr { position: absolute; left: 50%; top: 40px; margin-left: -6px; }

.how-work { min-height: 500px !important; }
@media only screen and (max-width: 600px) { .how-work { display: none !important; } }

.slider { z-index: 1666; min-height: 550px !important; *zoom: 1; }
@media only screen and (max-width: 600px) { .slider { display: none; } }
.slider:before, .slider:after { content: ""; display: table; }
.slider:after { clear: both; }
.slider li { width: 5%; min-height: 500px !important; float: left; overflow: hidden; position: relative; cursor: pointer; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; -webkit-transition: all linear 0.3s; -ms-transition: all linear 0.3s; transition: all linear 0.3s; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
@media only screen and (max-width: 900px) { .slider li { width: 10%; } }
.slider li.is-open { width: 80%; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; -webkit-transition: all linear 0.3s; -ms-transition: all linear 0.3s; transition: all linear 0.3s; }
@media only screen and (max-width: 900px) { .slider li.is-open { width: 60%; } }
.slider li.is-open .slider__ico { display: none; }
.slider li.is-open .slider__text { display: block; padding: 35px 90px 60px; background: rgba(41, 35, 92, 0.9); -moz-transition: opacity 0.1s linear 0.1s; -o-transition: opacity 0.1s linear 0.1s; -webkit-transition: opacity 0.1s linear 0.1s; -ms-transition: opacity 0.1s linear 0.1s; transition: opacity 0.1s linear 0.1s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
@media only screen and (max-width: 900px) { .slider li.is-open .slider__text { padding: 35px 60px 60px; } }
.slider li.is-open .slider__text .i-ico1 { margin-bottom: -18px; }
.slider li.is-open .slider__text .i-ico2 { margin-bottom: -15px; }
.slider li.is-open .slider__text .i-ico3 { margin-bottom: -19px; }
.slider li.is-open .slider__text .i-ico4 { margin-bottom: -14px; }
.slider li.is-open .slider__text .i-ico5 { margin-bottom: -16px; }
.slider li.is-open .ico { position: absolute; left: 90px; margin-left: 0; top: inherit; margin-top: 0; z-index: 10; bottom: 35px !important; }
@media only screen and (max-width: 900px) { .slider li.is-open .ico { left: 60px; } }
.slider li.is-open .slider__left { left: 20px; bottom: 20px !important; }
.slider li.is-open .slider__right { left: initial; right: 20px; bottom: 20px !important; }

.slider__bg { width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }

.slider__ico { height: 80px; position: absolute; left: 0; right: 0; bottom: 0; background: rgba(233, 91, 3, 0.9); z-index: 1; }
.slider__ico .ico { position: absolute; top: 50%; left: 50%; }
.slider__ico .i-ico1 { margin-top: -18px; margin-left: -20px; }
.slider__ico .i-ico2 { margin-top: -15px; margin-left: -19px; }
.slider__ico .i-ico3 { margin-top: -19px; margin-left: -20px; }
.slider__ico .i-ico4 { margin-top: -14px; margin-left: -18px; }
.slider__ico .i-ico5 { margin-top: -16px; margin-left: -16px; }

.slider__text { min-height: 180px; position: absolute; left: 0; right: 0; bottom: 0; z-index: 2; padding: 15px 90px; text-shadow: 0 1px 1px black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }
.slider__text h2 { font-size: 40px; font-weight: 100; color: white; margin-bottom: 15px; line-height: 1.2; }
@media only screen and (max-width: 900px) { .slider__text h2 { font-size: 30px; } }
@media only screen and (max-width: 650px) { .slider__text h2 { font-size: 24px; } }
.slider__text p { font-size: 20px; color: white; }
@media only screen and (max-width: 900px) { .slider__text p { font-size: 16px; } }
@media only screen and (max-width: 650px) { .slider__text p { font-size: 14px; } }

.our-services { background: #f8f8f8; min-height: 550px; }
@media only screen and (max-width: 600px) { .our-services { height: auto !important; } }

.services__top { width: 60%; margin: 0 20% 0px; font-size: 0; *zoom: 1; }
.services__top:before, .services__top:after { content: ""; display: table; }
.services__top:after { clear: both; }
@media only screen and (max-width: 600px) { .services__top { padding-top: 70px; line-height: 1 !important; margin-bottom: 30px; } }

.services__top-item { width: 50%; text-align: center; line-height: 1; vertical-align: middle; display: inline-block; }
@media only screen and (max-width: 600px) { .services__top-item { width: 100%; margin-top: 35px; } }
.services__top-item h2 { margin-bottom: 20px; font-weight: 100; font-size: 70px; color: #29235c; }
@media only screen and (max-width: 900px) { .services__top-item h2 { font-size: 60px; } }
@media only screen and (max-width: 800px) { .services__top-item h2 { font-size: 50px; } }
@media only screen and (max-width: 650px) { .services__top-item h2 { font-size: 40px; } }
@media only screen and (max-width: 600px) { .services__top-item h2 { font-size: 48px; } }
.services__top-item p { color: #a5a6a7; font-size: 20px; }
@media only screen and (max-width: 650px) { .services__top-item p { font-size: 18px; } }
@media only screen and (max-width: 600px) { .services__top-item p { font-size: 20px; } }

.services__cont .services__row { min-height: 180px; font-size: 0; text-align: center; *zoom: 1; }
.services__cont .services__row:before, .services__cont .services__row:after { content: ""; display: table; }
.services__cont .services__row:after { clear: both; }
@media only screen and (max-width: 600px) { .services__cont .services__row { height: auto; } }
.services__cont .services__item { width: 25%; text-align: center; vertical-align: top; display: inline-block; }
@media only screen and (max-width: 600px) { .services__cont .services__item { width: 48%; margin-bottom: 20px; vertical-align: top; } }
.services__cont .services__item [class^="i-"], .services__cont .services__item [class*=" i-"] { vertical-align: top; display: inline-block; }
.services__cont .services__item p { margin-top: 25px; font-size: 20px; color: #747474; line-height: 1.2; }
@media only screen and (max-width: 800px) { .services__cont .services__item p { font-size: 16px; } }
.services__cont .services__item .i-service1 { margin-right: 10px; }

.used-better { background: #29235c; color: white; min-height: 600px; z-index: 2; }
@media only screen and (max-width: 675px) { .used-better { height: auto !important; } }

.benefits { width: 100%; }

.benefits__top { background: #29235c; }
@media only screen and (max-width: 675px) { .benefits__top { height: 60px; line-height: 60px; } }
.benefits__top h2 { font-size: 30px; font-weight: 100; text-align: center; }
@media only screen and (max-width: 675px) { .benefits__top h2 { font-size: 24px; } }
@media only screen and (min-width: 1200px) and (max-width: 5000px) { .benefits__top h2 { font-size: 50px; } }

.benefits__cont { font-size: 25px; *zoom: 1; }
.benefits__cont:before, .benefits__cont:after { content: ""; display: table; }
.benefits__cont:after { clear: both; }
@media only screen and (max-width: 1100px) { .benefits__cont { font-size: 18px; } }
@media only screen and (max-width: 900px) { .benefits__cont { font-size: 14px; } }
@media only screen and (max-width: 675px) { .benefits__cont { height: auto !important; } }
.benefits__cont li { float: left; width: 33.3333%; }
@media only screen and (max-width: 675px) { .benefits__cont li { width: 100%; float: none; } }
.benefits__cont span { vertical-align: middle; display: inline-block; }
.benefits__cont .saving-wrap { text-align: center; display: inline-block; margin-right: 20px; }
.benefits__cont .saving { display: inline-block; width: 100%; max-width: 85px; margin-bottom: 20px; }

.benefits__cheaper { background: #494474; }

.benefits__job { background: #3e396c; }

.benefits__block { min-height: 500px; }
@media only screen and (max-width: 675px) { .benefits__block { height: auto !important; min-height: inherit; } }

.benefits__saving { background: #342e64; }
.benefits__saving .benefits__block-num { margin-bottom: 45px; }

.benefits__block-in { margin: 0 17%; padding: 17% 0; text-align: center; position: relative; *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.benefits__block-in:before, .benefits__block-in:after { content: ""; display: table; }
.benefits__block-in:after { clear: both; }

.benefits__block-num { margin-bottom: 55px; font-size: 30px; }
@media only screen and (max-width: 1100px) { .benefits__block-num { font-size: 24px; } }
@media only screen and (max-width: 900px) { .benefits__block-num { font-size: 21px; } }
.benefits__block-num [class^="i-"], .benefits__block-num [class*=" i-"] { margin-bottom: 15px; }

.benefits__pallets { position: relative; overflow: hidden; }

.benefits__pallets-item { width: 47%; max-width: 106px; float: left; font-size: 25px; }
@media only screen and (max-width: 1100px) { .benefits__pallets-item { font-size: 18px; } }
@media only screen and (max-width: 900px) { .benefits__pallets-item { font-size: 14px; } }
.benefits__pallets-item .benefits__ico { margin-bottom: 20px; }
.benefits__pallets-item.benefits__pallets-item_r { float: right; }

.benefits__block-symbol { position: absolute; left: 50%; margin-left: -7px; margin-top: -18px; bottom: 0; font-size: 25px; }

.benefits__ico img { width: 100%; }

.equally { margin: 0 10px; }

.contact-us { z-index: 1; }
@media only screen and (max-width: 675px) { .contact-us { min-height: 550px; } }
.contact-us #map-canvas { width: 100%; }
@media only screen and (max-width: 675px) { .contact-us #map-canvas { min-height: 550px; } }

.contacts { height: 280px; padding: 100px 60px 30px; background: rgba(255, 255, 255, 0.9); z-index: 1; position: absolute; top: 0; left: 0; right: 0; line-height: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.contacts:before, .contacts:after { content: ""; display: table; }
.contacts:after { clear: both; }
@media only screen and (max-width: 675px) { .contacts { height: 240px; padding: 80px 30px 15px; } }

.contacts__left { width: 50%; float: left; font-size: 25px; line-height: 1.2; color: #adadad; }
@media only screen and (max-width: 900px) { .contacts__left { font-size: 21px; } }
@media only screen and (max-width: 800px) { .contacts__left { font-size: 18px; } }
@media only screen and (max-width: 490px) { .contacts__left { font-size: 14px; } }
@media only screen and (max-width: 430px) { .contacts__left { font-size: 12px; } }

.contacts__coordinates { margin: 35px 0 30px; font-size: 18px; }
@media only screen and (max-width: 900px) { .contacts__coordinates { font-size: 16px; } }
@media only screen and (max-width: 800px) { .contacts__coordinates { font-size: 14px; } }
@media only screen and (max-width: 490px) { .contacts__coordinates { font-size: 12px; } }
@media only screen and (max-width: 430px) { .contacts__coordinates { font-size: 11px; } }

.contacts__copy { font-size: 15px; color: #c6c6c6; }
@media only screen and (max-width: 800px) { .contacts__copy { font-size: 13px; } }
@media only screen and (max-width: 490px) { .contacts__copy { font-size: 12px; } }
@media only screen and (max-width: 430px) { .contacts__copy { font-size: 11px; } }

.contacts__right { width: 50%; float: right; text-align: right; }

.contacts__num { display: block; font-size: 35px; color: #e95103; margin-top: 15px; margin-bottom: 30px; }
@media only screen and (max-width: 900px) { .contacts__num { font-size: 28px; margin-bottom: 25px; } }
@media only screen and (max-width: 800px) { .contacts__num { font-size: 21px; margin-bottom: 35px; } }
@media only screen and (max-width: 490px) { .contacts__num { font-size: 18px; margin-bottom: 30px; } }
@media only screen and (max-width: 430px) { .contacts__num { font-size: 14px; margin-bottom: 30px; } }

.contacts__mail { font-size: 50px; color: #e95103; }
@media only screen and (max-width: 900px) { .contacts__mail { font-size: 35px; } }
@media only screen and (max-width: 800px) { .contacts__mail { font-size: 24px; } }
@media only screen and (max-width: 490px) { .contacts__mail { font-size: 21px; } }
@media only screen and (max-width: 430px) { .contacts__mail { font-size: 16px; } }
