// var & mixins
// fonts
// base
	// html, body, .out, selection
	// a, .h2, .h3, .h4, .h5
// .header
// .footer
// index.html style
///////////////////////////////// *  * ////////////////////////////////

///////////////////////////////// * var & mixins * ////////////////////////////////


///////////////////////////////// * fonts * ////////////////////////////////

///////////////////////////////// * base * ////////////////////////////////
+selection(red, blue)

body
	margin: 0
	font:
		family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
		weight: normal
	line-height: 1.4
	font-size: 14px

a
	text-decoration: none
	&:hover
		text-decoration: none

.wrap
	margin: 0  auto
	padding: 100px 10px
.is-slide
	color: white

.slide1
	background: #e95103
	color: #d0ecf6
.slide2
	background: #15d657
	color: #e1f7e9
	position: relative
.slide3
	background: #f8f8f8
	color: #323232
	position: relative
	.h1
		color: #323232
.slide4
	background: #29235c
	position: relative
.slide5
	background: #4b7e3e
	color: #323232
	position: relative
	.h1
		color: #323232
.slide6
	background: #e903b6
	position: relative
.h1
	margin-bottom: 30px
	font-size: 30px
	color: #FFF 
///////////////////////////////// * .header * ////////////////////////////////
.header
	width: 100%
	height: 70px
	line-height: 70px
	background: #fff
	position: fixed
	.header-i
		padding: 0 5%
		+clr
		@include r(step1)
			padding: 0 3%
		@include r(step4)
			.logo
				+s(logo_alt)

.header__right
	overflow: hidden
	+clr

	.lang
		margin-right: 6%
		float: right
		+clr
		@include r(step1)
			margin-right: 3%
		li
			margin-right: 5px
			float: left
		a
			font-size: 12px
			color: #9C9C9D
			&:hover
				color: #FB6315
			&.is-active
				color: #e95103 

	.header__tel
		float: right
		font-size: 25px
		color: #000
		@include r(step1)
			font-size: 21px

.logo
	+s(logo)
	margin-top: 20px
	float: left
///////////////////////////////// * .footer * ////////////////////////////////
.footer
	width: 100%
	height: 70px
	line-height: 70px
	background: rgba(255,255,255, .9)
	position: absolute
	top: 0
	z-index: 1666
.footer-i
	padding: 0 5%
	+clr
	.logo-wrap
		margin-right: 35px
		height: 71px
		float: left
		@include r(step2)
			margin-right: 15px
	.logo
		+s(logo_alt)
	@include r(step1)
		padding: 0 3% 
	@include r(step4)
		.logo-wrap
			width: auto


.footer_fixed
	position: fixed
///////////////////////////////// * index.html style * ////////////////////////////////
.nav
	float: left
	+clr
	@include r(nav2)
		display: none
	li
		float: left
		margin-right: 20px
		@include r(step2)
			margin-right: 10px
	.is-active
		a
			color: #e95103 
	a
		color: #9C9C9D
		font-size: 16px
		&:hover
			color: #FB6315
		@include r(step2)
			font-size: 14px
		@include r(nav)
			font-size: 12px
