[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-arr { background: url('../../img/icons-s7c1165e5b5.png') 0 -1343px no-repeat; width: 21px; height: 12px; }

.i-ico1 { background: url('../../img/icons-s7c1165e5b5.png') 0 -1202px no-repeat; width: 40px; height: 36px; }

.i-ico2 { background: url('../../img/icons-s7c1165e5b5.png') 0 -832px no-repeat; width: 38px; height: 30px; }

.i-ico3 { background: url('../../img/icons-s7c1165e5b5.png') 0 -784px no-repeat; width: 40px; height: 38px; }

.i-ico4 { background: url('../../img/icons-s7c1165e5b5.png') 0 -1024px no-repeat; width: 37px; height: 28px; }

.i-ico5 { background: url('../../img/icons-s7c1165e5b5.png') 0 -872px no-repeat; width: 33px; height: 32px; }

.i-num1 { background: url('../../img/icons-s7c1165e5b5.png') 0 -1248px no-repeat; width: 61px; height: 60px; }

.i-num2 { background: url('../../img/icons-s7c1165e5b5.png') 0 -1132px no-repeat; width: 61px; height: 60px; }

.i-num3 { background: url('../../img/icons-s7c1165e5b5.png') 0 -1062px no-repeat; width: 61px; height: 60px; }

.i-service1 { background: url('../../img/icons-s7c1165e5b5.png') 0 -251px no-repeat; width: 77px; height: 77px; }

.i-service2 { background: url('../../img/icons-s7c1165e5b5.png') 0 -105px no-repeat; width: 75px; height: 69px; }

.i-service3 { background: url('../../img/icons-s7c1165e5b5.png') 0 -184px no-repeat; width: 57px; height: 57px; }

.i-service4 { background: url('../../img/icons-s7c1165e5b5.png') 0 -338px no-repeat; width: 60px; height: 65px; }

.i-service5 { background: url('../../img/icons-s7c1165e5b5.png') 0 -568px no-repeat; width: 70px; height: 52px; }

.i-service6 { background: url('../../img/icons-s7c1165e5b5.png') 0 -962px no-repeat; width: 68px; height: 52px; }

.i-service7 { background: url('../../img/icons-s7c1165e5b5.png') 0 -501px no-repeat; width: 57px; height: 57px; }

.i-service8 { background: url('../../img/icons-s7c1165e5b5.png') 0 -630px no-repeat; width: 66px; height: 64px; }

.i-pallet { background: url('../../img/icons-s7c1165e5b5.png') 0 0 no-repeat; width: 106px; height: 54px; }

.i-pallet_m { background: url('../../img/icons-s7c1165e5b5.png') 0 -704px no-repeat; width: 58px; height: 29px; }

.i-saving { background: url('../../img/icons-s7c1165e5b5.png') 0 -413px no-repeat; width: 85px; height: 78px; }

.i-saving_m { background: url('../../img/icons-s7c1165e5b5.png') 0 -914px no-repeat; width: 28px; height: 38px; }
