[class^="i-"], [class*=" i-"] { display: inline-block; vertical-align: middle; }

.i-arr { background: url('../../img/icons-s94a1490219.png') 0 -1464px no-repeat; width: 21px; height: 12px; }

.i-ico1 { background: url('../../img/icons-s94a1490219.png') 0 -1323px no-repeat; width: 40px; height: 36px; }

.i-ico2 { background: url('../../img/icons-s94a1490219.png') 0 -953px no-repeat; width: 38px; height: 30px; }

.i-ico3 { background: url('../../img/icons-s94a1490219.png') 0 -905px no-repeat; width: 40px; height: 38px; }

.i-ico4 { background: url('../../img/icons-s94a1490219.png') 0 -1145px no-repeat; width: 37px; height: 28px; }

.i-ico5 { background: url('../../img/icons-s94a1490219.png') 0 -993px no-repeat; width: 33px; height: 32px; }

.i-num1 { background: url('../../img/icons-s94a1490219.png') 0 -1369px no-repeat; width: 61px; height: 60px; }

.i-num2 { background: url('../../img/icons-s94a1490219.png') 0 -1253px no-repeat; width: 61px; height: 60px; }

.i-num3 { background: url('../../img/icons-s94a1490219.png') 0 -1183px no-repeat; width: 61px; height: 60px; }

.i-service1 { background: url('../../img/icons-s94a1490219.png') 0 -372px no-repeat; width: 77px; height: 77px; }

.i-service2 { background: url('../../img/icons-s94a1490219.png') 0 -105px no-repeat; width: 75px; height: 69px; }

.i-service3 { background: url('../../img/icons-s94a1490219.png') 0 -305px no-repeat; width: 57px; height: 57px; }

.i-service4 { background: url('../../img/icons-s94a1490219.png') 0 -459px no-repeat; width: 60px; height: 65px; }

.i-service5 { background: url('../../img/icons-s94a1490219.png') 0 -689px no-repeat; width: 70px; height: 52px; }

.i-service6 { background: url('../../img/icons-s94a1490219.png') 0 -1083px no-repeat; width: 68px; height: 52px; }

.i-service7 { background: url('../../img/icons-s94a1490219.png') 0 -622px no-repeat; width: 57px; height: 57px; }

.i-service8 { background: url('../../img/icons-s94a1490219.png') 0 -751px no-repeat; width: 66px; height: 64px; }

.i-pallet { background: url('../../img/icons-s94a1490219.png') 0 0 no-repeat; width: 106px; height: 54px; }

.i-pallet_m { background: url('../../img/icons-s94a1490219.png') 0 -825px no-repeat; width: 58px; height: 29px; }

.i-saving { background: url('../../img/icons-s94a1490219.png') 0 -534px no-repeat; width: 85px; height: 78px; }

.i-saving_m { background: url('../../img/icons-s94a1490219.png') 0 -1035px no-repeat; width: 28px; height: 38px; }
